<!DOCTYPE html>
<html lang="en">
<head th:replace="/fragments/lib.html::head('index')"></head>
<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
</head>
<body>
<form th:action="@{/users/saveDelete}" th:object="${user}" method="post">
    <table>
        <tr>
            <td>ID</td>
            <td>
                <input type="text" readonly="readonly" th:field="*{id}">
            </td>
        </tr>
        <tr>
            <td>First Name</td>
            <td>
                <input type="text" th:field="*{firstName}">
            </td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>
                <input type="text" th:field="*{lastName}">
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <input type="text" th:field="*{email}">
            </td>
        </tr>
    </table>
    <h2>Delete this user?</h2>
    <input type="submit" value="Delete">
</form>
</body>
</html>
